* {
  font-family: "Roboto", sans-serif;
}

footer {
  background-color: #ea1e63;
  padding: 18px;
  border: 1.8px solid rgb(255, 255, 255);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 1s;
}
.footer-1 ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.footer-1 .logo-redes {
  width: 45px;
  margin: 10px;
}
.footer-1:hover {
  transform: scale(1.1);
}

.h4-redes {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-style: italic;
  text-align: center;
  margin: 30px 15px;
}

.contacto-f {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: italic;
  text-align: center;
  margin: 20px 15px;
}

.contacto {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  border: 1.8px solid rgb(255, 255, 255);
  border-radius: 15px;
  padding: 15px;
  width: 30%;
}
.contacto .btn-enviar {
  width: 30%;
  margin: auto;
}

label {
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 5px;
}

input {
  border-radius: 10px;
  text-align: center;
}

header {
  padding: 5px;
  border-radius: 15px;
  border: 1.8px solid white;
  margin: 10px 300px;
  background-color: #203745;
}
header ul {
  padding: 0px;
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: right;
  justify-content: space-evenly;
}
header ul li a {
  color: #fe8f01;
  text-decoration: none;
  font-size: 17px;
}

body {
  background-color: #81d5fa;
}

.main {
  margin-top: 70px;
}

.div-h1 {
  background-color: #203745;
  border: 1.8px solid rgb(255, 255, 255);
  border-radius: 15px;
  margin: 20px 300px;
}

.coder-house {
  background-color: #81d5fa;
  border-radius: 15px;
  margin: 20px 300px;
}
.coder-house .coder-h {
  color: #81d5fa;
  text-align: center;
}
.coder-house .coder-h:hover {
  color: rgb(255, 255, 255);
}
.coder-house:hover {
  background-color: #000;
  border: 1.8px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.image-developer {
  display: flex;
  justify-content: center;
}

.photohead {
  width: 60%;
  margin-top: 0px;
}

.p-descripcion {
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 10px;
  border: 1.8px solid rgb(255, 255, 255);
  border-radius: 15px;
  padding: 15px;
  background-color: #203745;
  margin: 20px 300px;
}

.h1-index {
  text-align: center;
  color: #fe8f01;
  font-size: 23px;
}

.photo-main {
  width: 100%;
}

.p-main {
  border: 1.8px solid rgb(255, 255, 255);
  border-radius: 15px;
  width: 10%;
  margin: 15px;
  padding: 15px;
  background-color: #203745;
  transition: transform 1s;
}
.p-main:hover {
  transform: scale(1.1);
}

.text-skill {
  margin: 15px;
  font-size: 22px;
}

.my-skills {
  text-align: center;
  color: #fe8f01;
  border: 1.8px solid rgb(255, 255, 255);
  border-radius: 15px;
  background-color: #203745;
  margin: 29px 300px;
}
.my-skills ol li {
  margin: 5px;
  text-align: left;
  color: #4cb050;
}

.photo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
  margin: 35px;
}

.p-description {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-style: italic;
  text-align: center;
}

.pag-inicio {
  background-image: linear-gradient(to right, #81d5fa, rgb(255, 255, 255));
}

.border-h1 {
  background-color: #203745;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 15px;
  width: 500px;
  margin: 250px auto 0 auto;
}

.portafolio-h1 {
  text-align: center;
  color: #fe8f01;
}

@keyframes efecto_boton {
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.btn-inicio {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 15px auto;
  background-color: #ea1e63;
  border: 1.8px solid rgb(255, 255, 255);
  border-radius: 15px;
  width: 200px;
  color: #fe8f01;
  animation-name: efecto_boton;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
}

a {
  text-decoration: none;
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
  header {
    padding: 20px;
    margin: 30px 30px;
  }
  .div-h1 {
    margin: 10px 30px;
  }
  .h1-index {
    font-size: 17px;
  }
  .p-descripcion {
    margin: 10px 30px;
  }
  .coder-house {
    margin: 10px 30px;
  }
  .text-skill {
    font-size: 17px;
  }
  .my-skills {
    margin: 10px 30px;
  }
  .photo-container {
    margin: 10px 0px;
    padding: 0px;
  }
  .p-main {
    margin: 15px 10px;
    padding: 45px;
  }
  .contacto {
    display: none;
  }
  .contacto-f {
    display: none;
  }
  .logo-redes {
    width: 30px;
    margin: 10px;
  }
  .border-h1 {
    width: 300px;
    margin: 250px auto 10px auto;
    font-size: 13px;
  }
  .btn-inicio {
    margin: auto;
    font-size: 14px;
  }
}

/*# sourceMappingURL=styles.css.map */
