header {
    position: fixed;
    top: 0px;
}

ul {
    padding: 0px;
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: right;
    justify-content: space-evenly;

    a {
        text-decoration: none;
    }
}

