
body {
    background-color: #81d5fa;
   }

.main {
    margin-top: 70px;
}

.div-h1 {
    background-color: nth($coloresUsables,4);
    border: 1.8px solid $colorletrasw;
    border-radius: 15px;
    // margin: 20px 300px;
    margin: map-get($centrado,margins);
 }

 .coder-house {
    background-color: $colorbody;
    // border: 1.8px solid $colorletrasw;
    border-radius: 15px;
    margin: 20px 300px;

    .coder-h{
        color: $colorbody;
        text-align: center;


         &:hover {
             color: $colorletrasw;
        }   
    }

    &:hover {
        background-color: #000;
        border: 1.8px solid $colorletrasw;
        color: $colorletrasw;
        
    }
 }

 .image-developer {
    display: flex;
    justify-content: center;
 }

.photohead {
    width: 60%;
    margin-top: 0px;
}

.p-descripcion {
    color: $colorletrasw;
    text-align: center;
    margin: 10px;
    border: 1.8px solid $colorletrasw;
    border-radius: 15px;
    padding: 15px;
    background-color:#203745;
    margin: 20px 300px;
}


.h1-index {
    text-align: center;
    color: $colornaranja;
    font-size: 23px;
}

.photo-main {
    width: 100%;
}
// @keyframes efecto_skills {

//     0% { transform: scale(1);}
   
//    25% { transform: scale(1.1);}
   
//    50% { transform: scale(1.2);}
   
//    75% { transform: scale(1.1);}
   
//    100% { transform: scale(1);}
//     }

// border: 1.8px solid $colorletrasw;
// border-radius: 15px;
// width: 10%;
// margin: 15px;
// padding: 15px;
// background-color: #203745;

.p-main {
border: 1.8px solid $colorletrasw;
border-radius: 15px;
width: 10%;
margin: 15px;
padding: 15px;
background-color: #203745;
    
    
    transition: transform 1s;
    &:hover {
        transform: scale(1.1);
    }

    // animation-name: efecto_skills;
    // animation-iteration-count: infinite;
    // animation-timing-function: ease-in;
    // animation-duration: 10s;

}
.text-skill {
    margin: 15px;
    font-size: 22px;
}
.my-skills {
    text-align: center;
    color: $colornaranja;
    border: 1.8px solid $colorletrasw;
    border-radius: 15px;
    background-color: $colorazul;
    margin: 29px 300px;
    
    ol {
        // list-style: none;

        li {
            margin: 5px;
            text-align: left;
            color: $colorverde;
        }
    }
}

.photo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    margin: 35px;
}

.p-description {
    color: $colorletrasw;
    font-size: 18px;
    font-style: italic;
    text-align: center;
}

// pagina inicio

.pag-inicio{
   background-image:linear-gradient(to right, $colorbody,$colorletrasw); 
}


 .border-h1 {
     background-color: $colorazul;
    // background-image: linear-gradient(to right,$colorazul,$colorletrasw);
     border: 2.0px solid $colorletrasw;
     border-radius: 15px; 
     width: 500px;
     margin: 250px auto 0 auto;

 }
.portafolio-h1 {
    text-align: center;
    color: $colornaranja;  
}

@keyframes efecto_boton{    
    25% { transform: rotate(90deg);}
    
    50% { transform: rotate(180deg);}
    
    75% { transform: rotate(270deg);}
    
    100% { transform: rotate(360deg);}
        }


           
.btn-inicio{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 15px auto;
    background-color: $colorfooter;
    border: 1.8px solid $colorletrasw;
    border-radius: 15px;
    width: 200px;
    color: $colornaranja;
 

    animation-name: efecto_boton;
    animation-timing-function: ease-in;
    animation-duration: 0.2s;
}


a{
    text-decoration: none;
}

    

