// header

@media only screen and ( min-width:320px) and (max-width: 500px){

    header {
        padding: 20px;
        margin: 30px 30px;
    }

    .div-h1{
        margin: 10px 30px;
    }

    .h1-index {
        font-size: 17px;
    }

    .p-descripcion{
        margin: 10px 30px;
    }

    .coder-house{
        margin: 10px 30px;
    }


    .text-skill{
        font-size: 17px;
    }

    .my-skills{
        margin: 10px 30px;
    }

    .photo-container{
        margin: 10px 0px;
        padding: 0px;
    }
    .p-main{
        margin: 15px 10px;
        padding: 45px;
    }

    .contacto{
        display: none;
    }

    .contacto-f{
        display: none;
    }

    .logo-redes {
        width: 30px;
        margin: 10px;
       }


    .border-h1{
        width:300px;
        margin: 250px auto 10px auto;
        font-size: 13px;
    }


    .btn-inicio{
        margin: auto;
        font-size: 14px;
       }
}

